{% extends 'base.html' %}
<!--  -->
{% block content %}
<br />
<br />
<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">
      <div class="row gx-0">
        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="c">
            <h2>My Properties </h2>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="container">

    </div>
    <div class="container">
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th>SN</th>
            <th>Owner Name</th>
            <th>State</th>
            <th>District</th>
            <th>Village</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for property in properties %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{property.owner_name}}</td>
            <td>{{ property.state }}</td>
            <td>{{ property.district}}</td>
            <td>{{ property.village}}</td>
            {% if property.status == 'A'%}
            <td><span class="badge bg-success">Accepted</span></td>
            {% elif property.status == "P" %}
            <td><span class="badge bg-primary">Pending</span></td>
            {% else %}
            <td><span class="badge bg-danger">Declined</span></td>
            {% endif %}
            <td><a type="button" class="btn btn-info btn-sm" href="{% url 'property-detail' id=property.id %}">View</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </section>
</main>
{% endblock content %}